.container {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav>ul {
    list-style: none;
}
nav>ul>li {
    display: inline;
}
